In [1]:
import numpy as np
import pandas as pd
from sklearn import cross_validation, tree, metrics
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier, ExtraTreesClassifier
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble.weight_boosting import AdaBoostClassifier
from sklearn.externals.six.moves import xrange
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import confusion_matrix
import seaborn as sns
%pylab inline
from sklearn import cross_validation, datasets, svm
from sklearn.cross_validation import KFold, train_test_split
from sklearn.grid_search import GridSearchCV
from sklearn.ensemble import GradientBoostingClassifier

Populating the interactive namespace from numpy and matplotlib

In [2]:
dataset = pd.read_csv('proc_data.csv')
dataset['id'] = dataset['id'].astype(int)

In [3]:
train = dataset.query('type == "train"')         
test = dataset.query('type == "test"')

In [4]:
features = ['age', 'class', 'fare', 'family_size', 'embarked_at_Q', 'embarked_at_S', 'female', 'in_cabin', 'Master', 'Miss', 'Mrs']
X = train[['age', 'class', 'fare',  'family_size', 'embarked_at_Q', 'embarked_at_S', 'female', 'in_cabin', 'Master', 'Miss', 'Mrs']].values
y = train['survived'].values

In [5]:
X_test = test[['age', 'class', 'fare', 'family_size', 'embarked_at_Q', 'embarked_at_S', 'female', 'in_cabin', 'Master', 'Miss', 'Mrs']].values
test_ids = test['id']
test_ids = pd.DataFrame(test_ids.reset_index()['id'])

**Random Forest Confusion**

In [25]:
rnd = RandomForestClassifier(n_estimators = 1000, max_depth = 5, oob_score=True)
rnd.fit(X, y)
y_predicted = rnd.predict(X)
print accuracy_score(y, y_predicted)
print rnd.oob_score_

0.855218855219
0.827160493827

In [7]:
cm = confusion_matrix(y, y_predicted)
print(cm)

[[515  34]
 [ 93 249]]

In [8]:
g = pd.DataFrame(y_predicted)
g.columns = ['pred']

In [9]:
z = pd.concat([train, g], axis = 1)

In [10]:
def misClass(row):
    if row['survived'] != row['pred']:
        return 1
    else:
        return 0

z['misclassified'] = z.apply(misClass, axis = 1)

In [11]:
z

,age,cabin,class,embarked,fare,id,name,parch,sex,sibsp,...,family_id,family_id_int,Master,Miss,Mr,Mrs,Rev,farebin,pred,misclassified
0,22,NaN,3,S,7.2500,1,"Braund, Mr. Owen Harris",0,male,1,...,Braund-2.0,105,0,0,1,0,0,1,0,0
1,38,C85,1,C,71.2833,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,female,1,...,Cumings-2.0,190,0,0,0,1,0,14,1,0
2,26,NaN,3,S,7.9250,3,"Heikkinen, Miss. Laina",0,female,0,...,Heikkinen-1.0,352,0,1,0,0,0,1,0,1
3,35,C123,1,S,53.1000,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,female,1,...,Futrelle-2.0,281,0,0,0,1,0,10,1,0
4,35,NaN,3,S,8.0500,5,"Allen, Mr. William Henry",0,male,0,...,Allen-1.0,15,0,0,1,0,0,1,0,0
5,26,NaN,3,Q,8.4583,6,"Moran, Mr. James",0,male,0,...,Moran-1.0,573,0,0,1,0,0,1,0,0
6,54,E46,1,S,51.8625,7,"McCarthy, Mr. Timothy J",0,male,0,...,McCarthy-1.0,533,0,0,1,0,0,10,0,0
7,2,NaN,3,S,21.0750,8,"Palsson, Master. Gosta Leonard",1,male,3,...,Palsson-5.0,648,1,0,0,0,0,4,0,0
8,27,NaN,3,S,11.1333,9,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",2,female,0,...,Johnson-3.0,413,0,0,0,1,0,2,1,0
9,14,NaN,2,C,30.0708,10,"Nasser, Mrs. Nicholas (Adele Achem)",0,female,1,...,Nasser-2.0,596,0,0,0,1,0,6,1,0
10,4,G6,3,S,16.7000,11,"Sandstrom, Miss. Marguerite Rut",1,female,1,...,Sandstrom-3.0,750,0,1,0,0,0,3,1,0
11,58,C103,1,S,26.5500,12,"Bonnell, Miss. Elizabeth",0,female,0,...,Bonnell-1.0,90,0,1,0,0,0,5,1,0
12,20,NaN,3,S,8.0500,13,"Saundercock, Mr. William Henry",0,male,0,...,Saundercock-1.0,752,0,0,1,0,0,1,0,0
13,39,NaN,3,S,31.2750,14,"Andersson, Mr. Anders Johan",5,male,1,...,Andersson-7.0,22,0,0,1,0,0,6,0,0
14,14,NaN,3,S,7.8542,15,"Vestrom, Miss. Hulda Amanda Adolfina",0,female,0,...,Vestrom-1.0,870,0,1,0,0,0,1,1,1
15,55,NaN,2,S,16.0000,16,"Hewlett, Mrs. (Mary D Kingcome)",0,female,0,...,Hewlett-1.0,359,0,0,0,1,0,3,1,0
16,2,NaN,3,Q,29.1250,17,"Rice, Master. Eugene",1,male,4,...,Rice-6.0,706,1,0,0,0,0,5,0,0
17,30,NaN,2,S,13.0000,18,"Williams, Mr. Charles Eugene",0,male,0,...,Williams-1.0,902,0,0,1,0,0,2,0,1
18,31,NaN,3,S,18.0000,19,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",0,female,1,...,Vander Planke-2.0,864,0,0,0,1,0,3,1,1
19,31,NaN,3,C,7.2250,20,"Masselmani, Mrs. Fatima",0,female,0,...,Masselmani-1.0,527,0,0,0,1,0,1,1,0
20,35,NaN,2,S,26.0000,21,"Fynney, Mr. Joseph J",0,male,0,...,Fynney-1.0,282,0,0,1,0,0,5,0,0
21,34,D56,2,S,13.0000,22,"Beesley, Mr. Lawrence",0,male,0,...,Beesley-1.0,72,0,0,1,0,0,2,0,1
22,15,NaN,3,Q,8.0292,23,"McGowan, Miss. Anna ""Annie""",0,female,0,...,McGowan-1.0,542,0,1,0,0,0,1,1,0
23,28,A6,1,S,35.5000,24,"Sloper, Mr. William Thompson",0,male,0,...,Sloper-1.0,787,0,0,1,0,0,7,0,1
24,8,NaN,3,S,21.0750,25,"Palsson, Miss. Torborg Danira",1,female,3,...,Palsson-5.0,648,0,1,0,0,0,4,0,0
25,38,NaN,3,S,31.3875,26,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",5,female,1,...,Asplund-7.0,36,0,0,0,1,0,6,0,1
26,26,NaN,3,C,7.2250,27,"Emir, Mr. Farred Chehab",0,male,0,...,Emir-1.0,249,0,0,1,0,0,1,0,0
27,19,C23 C25 C27,1,S,263.0000,28,"Fortune, Mr. Charles Alexander",2,male,3,...,Fortune-6.0,270,0,0,1,0,0,52,0,0
28,18,NaN,3,Q,7.8792,29,"O'Dwyer, Miss. Ellen ""Nellie""",0,female,0,...,O'Dwyer-1.0,626,0,1,0,0,0,1,1,0
29,26,NaN,3,S,7.8958,30,"Todoroff, Mr. Lalio",0,male,0,...,Todoroff-1.0,841,0,0,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
861,21,NaN,2,S,11.5000,862,"Giles, Mr. Frederick Edward",0,male,1,...,Giles-2.0,296,0,0,1,0,0,2,0,0
862,48,D17,1,S,25.9292,863,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",0,female,0,...,Swift-1.0,827,0,0,0,1,0,5,1,0
863,18,NaN,3,S,69.5500,864,"Sage, Miss. Dorothy Edith ""Dolly""",2,female,8,...,Sage-11.0,743,0,1,0,0,0,13,0,0
864,24,NaN,2,S,13.0000,865,"Gill, Mr. John William",0,male,0,...,Gill-1.0,298,0,0,1,0,0,2,0,0
865,42,NaN,2,S,13.0000,866,"Bystrom, Mrs. (Karolina)",0,female,0,...,Bystrom-1.0,120,0,0,0,1,0,2,1,0
866,27,NaN,2,C,13.8583,867,"Duran y More, Miss. Asuncion",0,female,1,...,Duran y More-2.0,238,0,1,0,0,0,2,1,0
867,31,A24,1,S,50.4958,868,"Roebling, Mr. Washington Augustus II",0,male,0,...,Roebling-1.0,719,0,0,1,0,0,10,0,0
868,26,NaN,3,S,9.5000,869,"van Melkebeke, Mr. Philemon",0,male,0,...,van Melkebeke-1.0,927,0,0,1,0,0,1,0,0
869,4,NaN,3,S,11.1333,870,"Johnson, Master. Harold Theodor",1,male,1,...,Johnson-3.0,413,1,0,0,0,0,2,1,0
870,26,NaN,3,S,7.8958,871,"Balkic, Mr. Cerin",0,male,0,...,Balkic-1.0,53,0,0,1,0,0,1,0,0
871,47,D35,1,S,52.5542,872,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",1,female,1,...,Beckwith-3.0,71,0,0,0,1,0,10,1,0
872,33,B51 B53 B55,1,S,5.0000,873,"Carlsson, Mr. Frans Olof",0,male,0,...,Carlsson-1.0,134,0,0,1,0,0,1,0,0
873,47,NaN,3,S,9.0000,874,"Vander Cruyssen, Mr. Victor",0,male,0,...,Vander Cruyssen-1.0,863,0,0,1,0,0,1,0,0
874,28,NaN,2,C,24.0000,875,"Abelson, Mrs. Samuel (Hannah Wizosky)",0,female,1,...,Abelson-2.0,3,0,0,0,1,0,4,1,0
875,15,NaN,3,C,7.2250,876,"Najib, Miss. Adele Kiamie ""Jane""",0,female,0,...,Najib-1.0,591,0,1,0,0,0,1,1,0
876,20,NaN,3,S,9.8458,877,"Gustafsson, Mr. Alfred Ossian",0,male,0,...,Gustafsson-1.0,318,0,0,1,0,0,1,0,0
877,19,NaN,3,S,7.8958,878,"Petroff, Mr. Nedelio",0,male,0,...,Petroff-1.0,678,0,0,1,0,0,1,0,0
878,26,NaN,3,S,7.8958,879,"Laleff, Mr. Kristo",0,male,0,...,Laleff-1.0,455,0,0,1,0,0,1,0,0
879,56,C50,1,C,83.1583,880,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",1,female,0,...,Potter-2.0,691,0,0,0,1,0,16,1,0
880,25,NaN,2,S,26.0000,881,"Shelley, Mrs. William (Imanita Parrish Hall)",1,female,0,...,Shelley-2.0,765,0,0,0,1,0,5,1,0
881,33,NaN,3,S,7.8958,882,"Markun, Mr. Johann",0,male,0,...,Markun-1.0,525,0,0,1,0,0,1,0,0
882,22,NaN,3,S,10.5167,883,"Dahlberg, Miss. Gerda Ulrika",0,female,0,...,Dahlberg-1.0,194,0,1,0,0,0,2,0,0
883,28,NaN,2,S,10.5000,884,"Banfield, Mr. Frederick James",0,male,0,...,Banfield-1.0,55,0,0,1,0,0,2,0,0
884,25,NaN,3,S,7.0500,885,"Sutehall, Mr. Henry Jr",0,male,0,...,Sutehall-1.0,822,0,0,1,0,0,1,0,0
885,39,NaN,3,Q,29.1250,886,"Rice, Mrs. William (Margaret Norton)",5,female,0,...,Rice-6.0,706,0,0,0,1,0,5,0,0
886,27,NaN,2,S,13.0000,887,"Montvila, Rev. Juozas",0,male,0,...,Montvila-1.0,570,0,0,0,0,1,2,0,0
887,19,B42,1,S,30.0000,888,"Graham, Miss. Margaret Edith",0,female,0,...,Graham-1.0,310,0,1,0,0,0,6,1,0
888,18,NaN,3,S,23.4500,889,"Johnston, Miss. Catherine Helen ""Carrie""",2,female,1,...,Johnston-4.0,414,0,1,0,0,0,4,0,0
889,26,C148,1,C,30.0000,890,"Behr, Mr. Karl Howell",0,male,0,...,Behr-1.0,73,0,0,1,0,0,6,0,1
890,32,NaN,3,Q,7.7500,891,"Dooley, Mr. Patrick",0,male,0,...,Dooley-1.0,224,0,0,1,0,0,1,0,0

In [12]:
from pandasql import sqldf
pysqldf = lambda q: sqldf(q, globals())

In [13]:
query = '''
select
sex,
title,
class,
sum(misclassified) / count(1) as pct_mis,
count(1) as count,
sum(survived) / count(1) as surv_rate,
sum(pred) / count(1) as pred_surv_rate
from z
group by sex, title, class
'''
q = pysqldf(query)

**Exploration of Actual vs Predicted Survival Rates**

In [14]:
q

       sex   title  class   pct_mis  count  surv_rate  pred_surv_rate
0   female    Miss      1  0.043478     46   0.956522        1.000000
1   female    Miss      2  0.058824     34   0.941176        1.000000
2   female    Miss      3  0.205882    102   0.500000        0.588235
3   female      Mr      1  0.000000      1   1.000000        1.000000
4   female     Mrs      1  0.021277     47   0.978723        1.000000
5   female     Mrs      2  0.095238     42   0.904762        1.000000
6   female     Mrs      3  0.261905     42   0.500000        0.714286
7     male  Master      1  0.000000      3   1.000000        1.000000
8     male  Master      2  0.000000      9   1.000000        1.000000
9     male  Master      3  0.035714     28   0.392857        0.357143
10    male      Mr      1  0.344538    119   0.352941        0.008403
11    male      Mr      2  0.086022     93   0.086022        0.000000
12    male      Mr      3  0.112853    319   0.112853        0.000000
13    male     Rev      2  0.000000      6   0.000000        0.000000

**Attempt to over sample 3rd Class women who are consistently classified optimistically**

In [15]:
over_sample = '''
select*
from train
where class = 3 and sex = 'female'
'''
xtra = pysqldf(over_sample)

/Users/jb/anaconda/lib/python2.7/site-packages/pandasql/sqldf.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  df[col] = df[col].astype(np.float)

In [16]:
train_xtra = pd.concat([train, xtra])

In [17]:
train_xtra

,age,cabin,class,embarked,fare,id,name,parch,sex,sibsp,...,in_cabin,family_size,family_id,family_id_int,Master,Miss,Mr,Mrs,Rev,farebin
0,22.0,NaN,3,S,7.2500,1,"Braund, Mr. Owen Harris",0,male,1,...,0,2,Braund-2.0,105,0,0,1,0,0,1
1,38.0,C85,1,C,71.2833,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,female,1,...,1,2,Cumings-2.0,190,0,0,0,1,0,14
2,26.0,NaN,3,S,7.9250,3,"Heikkinen, Miss. Laina",0,female,0,...,0,1,Heikkinen-1.0,352,0,1,0,0,0,1
3,35.0,C123,1,S,53.1000,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,female,1,...,1,2,Futrelle-2.0,281,0,0,0,1,0,10
4,35.0,NaN,3,S,8.0500,5,"Allen, Mr. William Henry",0,male,0,...,0,1,Allen-1.0,15,0,0,1,0,0,1
5,26.0,NaN,3,Q,8.4583,6,"Moran, Mr. James",0,male,0,...,0,1,Moran-1.0,573,0,0,1,0,0,1
6,54.0,E46,1,S,51.8625,7,"McCarthy, Mr. Timothy J",0,male,0,...,1,1,McCarthy-1.0,533,0,0,1,0,0,10
7,2.0,NaN,3,S,21.0750,8,"Palsson, Master. Gosta Leonard",1,male,3,...,0,5,Palsson-5.0,648,1,0,0,0,0,4
8,27.0,NaN,3,S,11.1333,9,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",2,female,0,...,0,3,Johnson-3.0,413,0,0,0,1,0,2
9,14.0,NaN,2,C,30.0708,10,"Nasser, Mrs. Nicholas (Adele Achem)",0,female,1,...,0,2,Nasser-2.0,596,0,0,0,1,0,6
10,4.0,G6,3,S,16.7000,11,"Sandstrom, Miss. Marguerite Rut",1,female,1,...,1,3,Sandstrom-3.0,750,0,1,0,0,0,3
11,58.0,C103,1,S,26.5500,12,"Bonnell, Miss. Elizabeth",0,female,0,...,1,1,Bonnell-1.0,90,0,1,0,0,0,5
12,20.0,NaN,3,S,8.0500,13,"Saundercock, Mr. William Henry",0,male,0,...,0,1,Saundercock-1.0,752,0,0,1,0,0,1
13,39.0,NaN,3,S,31.2750,14,"Andersson, Mr. Anders Johan",5,male,1,...,0,7,Andersson-7.0,22,0,0,1,0,0,6
14,14.0,NaN,3,S,7.8542,15,"Vestrom, Miss. Hulda Amanda Adolfina",0,female,0,...,0,1,Vestrom-1.0,870,0,1,0,0,0,1
15,55.0,NaN,2,S,16.0000,16,"Hewlett, Mrs. (Mary D Kingcome)",0,female,0,...,0,1,Hewlett-1.0,359,0,0,0,1,0,3
16,2.0,NaN,3,Q,29.1250,17,"Rice, Master. Eugene",1,male,4,...,0,6,Rice-6.0,706,1,0,0,0,0,5
17,30.0,NaN,2,S,13.0000,18,"Williams, Mr. Charles Eugene",0,male,0,...,0,1,Williams-1.0,902,0,0,1,0,0,2
18,31.0,NaN,3,S,18.0000,19,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",0,female,1,...,0,2,Vander Planke-2.0,864,0,0,0,1,0,3
19,31.0,NaN,3,C,7.2250,20,"Masselmani, Mrs. Fatima",0,female,0,...,0,1,Masselmani-1.0,527,0,0,0,1,0,1
20,35.0,NaN,2,S,26.0000,21,"Fynney, Mr. Joseph J",0,male,0,...,0,1,Fynney-1.0,282,0,0,1,0,0,5
21,34.0,D56,2,S,13.0000,22,"Beesley, Mr. Lawrence",0,male,0,...,1,1,Beesley-1.0,72,0,0,1,0,0,2
22,15.0,NaN,3,Q,8.0292,23,"McGowan, Miss. Anna ""Annie""",0,female,0,...,0,1,McGowan-1.0,542,0,1,0,0,0,1
23,28.0,A6,1,S,35.5000,24,"Sloper, Mr. William Thompson",0,male,0,...,1,1,Sloper-1.0,787,0,0,1,0,0,7
24,8.0,NaN,3,S,21.0750,25,"Palsson, Miss. Torborg Danira",1,female,3,...,0,5,Palsson-5.0,648,0,1,0,0,0,4
25,38.0,NaN,3,S,31.3875,26,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",5,female,1,...,0,7,Asplund-7.0,36,0,0,0,1,0,6
26,26.0,NaN,3,C,7.2250,27,"Emir, Mr. Farred Chehab",0,male,0,...,0,1,Emir-1.0,249,0,0,1,0,0,1
27,19.0,C23 C25 C27,1,S,263.0000,28,"Fortune, Mr. Charles Alexander",2,male,3,...,1,6,Fortune-6.0,270,0,0,1,0,0,52
28,18.0,NaN,3,Q,7.8792,29,"O'Dwyer, Miss. Ellen ""Nellie""",0,female,0,...,0,1,O'Dwyer-1.0,626,0,1,0,0,0,1
29,26.0,NaN,3,S,7.8958,30,"Todoroff, Mr. Lalio",0,male,0,...,0,1,Todoroff-1.0,841,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114,32.0,None,3,Q,15.5000,658,"Bourke, Mrs. John (Catherine)",1,female,1,...,0,3,Bourke-3.0,96,0,0,0,1,0,3
115,18.0,None,3,S,9.8417,678,"Turja, Miss. Anna Sofia",0,female,0,...,0,1,Turja-1.0,854,0,1,0,0,0,1
116,43.0,None,3,S,46.9000,679,"Goodwin, Mrs. Frederick (Augusta Tyler)",6,female,1,...,0,8,Goodwin-8.0,308,0,0,0,1,0,9
117,18.0,None,3,Q,8.1375,681,"Peters, Miss. Katie",0,female,0,...,0,1,Peters-1.0,675,0,1,0,0,0,1
118,4.0,None,3,C,13.4167,692,"Karun, Miss. Manca",1,female,0,...,0,2,Karun-2.0,427,0,1,0,0,0,2
119,18.0,None,3,Q,7.7333,698,"Mullens, Miss. Katherine ""Katie""",0,female,0,...,0,1,Mullens-1.0,583,0,1,0,0,0,1
120,18.0,None,3,C,14.4542,703,"Barbara, Miss. Saiide",1,female,0,...,0,2,Barbara-2.0,57,0,1,0,0,0,2
121,18.0,None,3,Q,7.7375,728,"Mannion, Miss. Margareth",0,female,0,...,0,1,Mannion-1.0,521,0,1,0,0,0,1
122,25.0,None,3,S,7.9250,730,"Ilmakangas, Miss. Pieta Sofia",0,female,1,...,0,2,Ilmakangas-2.0,392,0,1,0,0,0,1
123,48.0,None,3,S,34.3750,737,"Ford, Mrs. Edward (Margaret Ann Watson)",3,female,1,...,0,5,Ford-5.0,268,0,0,0,1,0,6
124,30.5,None,3,Q,7.7500,768,"Mangan, Miss. Mary",0,female,0,...,0,1,Mangan-1.0,519,0,1,0,0,0,1
125,5.0,None,3,S,12.4750,778,"Emanuel, Miss. Virginia Ethel",0,female,0,...,0,1,Emanuel-1.0,248,0,1,0,0,0,2
126,13.0,None,3,C,7.2292,781,"Ayoub, Miss. Banoura",0,female,0,...,0,1,Ayoub-1.0,44,0,1,0,0,0,1
127,18.0,None,3,S,7.4958,787,"Sjoblom, Miss. Anna Sofia",0,female,0,...,0,1,Sjoblom-1.0,780,0,1,0,0,0,1
128,18.0,None,3,S,69.5500,793,"Sage, Miss. Stella Anna",2,female,8,...,0,11,Sage-11.0,743,0,1,0,0,0,13
129,31.0,None,3,S,8.6833,798,"Osman, Mrs. Mara",0,female,0,...,0,1,Osman-1.0,640,0,0,0,1,0,1
130,30.0,None,3,S,24.1500,800,"Van Impe, Mrs. Jean Baptiste (Rosalie Paula Go...",1,female,1,...,0,3,Van Impe-3.0,858,0,0,0,1,0,4
131,18.0,None,3,S,7.7750,808,"Pettersson, Miss. Ellen Natalia",0,female,0,...,0,1,Pettersson-1.0,680,0,1,0,0,0,1
132,6.0,None,3,S,31.2750,814,"Andersson, Miss. Ebba Iris Alfrida",2,female,4,...,0,7,Andersson-7.0,22,0,1,0,0,0,6
133,23.0,None,3,S,7.9250,817,"Heininen, Miss. Wendla Maria",0,female,0,...,0,1,Heininen-1.0,353,0,1,0,0,0,1
134,27.0,E121,3,S,12.4750,824,"Moor, Mrs. (Beila)",1,female,0,...,1,2,Moor-2.0,571,0,0,0,1,0,2
135,15.0,None,3,C,14.4542,831,"Yasbeck, Mrs. Antoni (Selini Alexander)",0,female,1,...,0,2,Yasbeck-2.0,912,0,0,0,1,0,2
136,9.0,None,3,C,15.2458,853,"Boulos, Miss. Nourelain",1,female,1,...,0,3,Boulos-3.0,95,0,1,0,0,0,3
137,18.0,None,3,S,9.3500,856,"Aks, Mrs. Sam (Leah Rosen)",1,female,0,...,0,2,Aks-2.0,9,0,0,0,1,0,1
138,24.0,None,3,C,19.2583,859,"Baclini, Mrs. Solomon (Latifa Qurban)",3,female,0,...,0,4,Baclini-4.0,48,0,0,0,1,0,3
139,18.0,None,3,S,69.5500,864,"Sage, Miss. Dorothy Edith ""Dolly""",2,female,8,...,0,11,Sage-11.0,743,0,1,0,0,0,13
140,15.0,None,3,C,7.2250,876,"Najib, Miss. Adele Kiamie ""Jane""",0,female,0,...,0,1,Najib-1.0,591,0,1,0,0,0,1
141,22.0,None,3,S,10.5167,883,"Dahlberg, Miss. Gerda Ulrika",0,female,0,...,0,1,Dahlberg-1.0,194,0,1,0,0,0,2
142,39.0,None,3,Q,29.1250,886,"Rice, Mrs. William (Margaret Norton)",5,female,0,...,0,6,Rice-6.0,706,0,0,0,1,0,5
143,18.0,None,3,S,23.4500,889,"Johnston, Miss. Catherine Helen ""Carrie""",2,female,1,...,0,4,Johnston-4.0,414,0,1,0,0,0,4

In [18]:
X_xtra = train[['age', 'class', 'fare',  'family_size', 'embarked_at_Q', 'embarked_at_S', 'female', 'in_cabin', 'Master', 'Miss', 'Mrs']].values
y_xtra = train['survived'].values

In [19]:
rnd = RandomForestClassifier(n_estimators = 1000, max_depth = 10, oob_score=True)
rnd.fit(X_xtra, y_xtra)
y_predicted = rnd.predict(X_xtra)
print accuracy_score(y_xtra, y_predicted)
print rnd.oob_score_

0.945005611672
0.826038159371

In [20]:
rnd = RandomForestClassifier(n_estimators = 1000, max_depth = 10, oob_score=True)
rnd.fit(X_xtra, y_xtra)
y_test_predicted = rnd.predict(X_test)
predictions = pd.DataFrame(y_test_predicted)
submission = pd.concat([test_ids, predictions], axis=1)
submission.columns = ['PassengerId', 'Survived']
submission['Survived'] = submission['Survived'].astype(int)
submission.to_csv('rf_oversampled.csv', sep = ',', index = False)

**Look at using a more complex model just for 3rd Class Females**

Base Model

In [29]:
rnd = RandomForestClassifier(n_estimators = 1000, max_depth = 5, oob_score=True)
rnd.fit(X, y)
y_test_predicted = rnd.predict(X_test)
base_predictions = pd.DataFrame(y_test_predicted)
base_predictions.columns = ['base']

More Complex Model

In [30]:
rnd = RandomForestClassifier(n_estimators = 1000, max_depth = 10, oob_score=True)
rnd.fit(X, y)
y_test_predicted = rnd.predict(X_test)
alt_predictions = pd.DataFrame(y_test_predicted)
alt_predictions.columns = ['alt']

In [75]:
base_predictions.index += 891
alt_predictions.index += 891

In [76]:
new_preds = pd.concat([test, base_predictions, alt_predictions], axis = 1)

In [81]:
new_preds = new_preds[['sex', 'title', 'class', 'base', 'alt']]
new_preds.head()

        sex title  class  base  alt
891    male    Mr      3     0    0
892  female   Mrs      3     0    0
893    male    Mr      2     0    0
894    male    Mr      3     0    0
895  female   Mrs      3     1    1

In [87]:
def altPred(row):
    if row['sex'] == 'female' and row['class'] == 3:
        return row['alt']
    else:
        return row['base']

new_preds['prediction'] = z.apply(altPred, axis = 1)

KeyError: ('base', u'occurred at index 0')

In [88]:
new_preds.to_csv('new_preds', sep = ',', index = False)