In [19]:
import numpy as np
import pandas as pd
%pylab inline
import seaborn as sns
from pandasql import sqldf
import matplotlib.pyplot as plt
from ggplot import *
import qgrid
qgrid.nbinstall()
pysqldf = lambda q: sqldf(q, globals())
from sklearn.linear_model import LogisticRegression
from sklearn import cross_validation, tree, metrics, svm
from sklearn.metrics import accuracy_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score
from sklearn import cross_validation, tree, metrics
from sklearn.naive_bayes import GaussianNB, MultinomialNB 
from sklearn.cross_validation import KFold
from sklearn.preprocessing import StandardScaler

Populating the interactive namespace from numpy and matplotlib

WARNING: pylab import has clobbered these variables: ['xlim', 'ylim', 'test']
`%matplotlib` prevents importing * from pylab and numpy

In [20]:
dataset = pd.read_csv('proc_data.csv')
dataset

,age,cabin,class,embarked,fare,id,name,parch,sex,sibsp,...,class_2.0,class_3.0,in_cabin,family_size,family_id,Master,Miss,Mr,Mrs,Rev
0,22.0,NaN,3,S,7.2500,1,"Braund, Mr. Owen Harris",0,male,1,...,0,1,0,2,Braund-2.0,0,0,1,0,0
1,38.0,C85,1,C,71.2833,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,female,1,...,0,0,1,2,Cumings-2.0,0,0,0,1,0
2,26.0,NaN,3,S,7.9250,3,"Heikkinen, Miss. Laina",0,female,0,...,0,1,0,1,Heikkinen-1.0,0,1,0,0,0
3,35.0,C123,1,S,53.1000,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,female,1,...,0,0,1,2,Futrelle-2.0,0,0,0,1,0
4,35.0,NaN,3,S,8.0500,5,"Allen, Mr. William Henry",0,male,0,...,0,1,0,1,Allen-1.0,0,0,1,0,0
5,26.0,NaN,3,Q,8.4583,6,"Moran, Mr. James",0,male,0,...,0,1,0,1,Moran-1.0,0,0,1,0,0
6,54.0,E46,1,S,51.8625,7,"McCarthy, Mr. Timothy J",0,male,0,...,0,0,1,1,McCarthy-1.0,0,0,1,0,0
7,2.0,NaN,3,S,21.0750,8,"Palsson, Master. Gosta Leonard",1,male,3,...,0,1,0,5,Palsson-5.0,1,0,0,0,0
8,27.0,NaN,3,S,11.1333,9,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",2,female,0,...,0,1,0,3,Johnson-3.0,0,0,0,1,0
9,14.0,NaN,2,C,30.0708,10,"Nasser, Mrs. Nicholas (Adele Achem)",0,female,1,...,1,0,0,2,Nasser-2.0,0,0,0,1,0
10,4.0,G6,3,S,16.7000,11,"Sandstrom, Miss. Marguerite Rut",1,female,1,...,0,1,1,3,Sandstrom-3.0,0,1,0,0,0
11,58.0,C103,1,S,26.5500,12,"Bonnell, Miss. Elizabeth",0,female,0,...,0,0,1,1,Bonnell-1.0,0,1,0,0,0
12,20.0,NaN,3,S,8.0500,13,"Saundercock, Mr. William Henry",0,male,0,...,0,1,0,1,Saundercock-1.0,0,0,1,0,0
13,39.0,NaN,3,S,31.2750,14,"Andersson, Mr. Anders Johan",5,male,1,...,0,1,0,7,Andersson-7.0,0,0,1,0,0
14,14.0,NaN,3,S,7.8542,15,"Vestrom, Miss. Hulda Amanda Adolfina",0,female,0,...,0,1,0,1,Vestrom-1.0,0,1,0,0,0
15,55.0,NaN,2,S,16.0000,16,"Hewlett, Mrs. (Mary D Kingcome)",0,female,0,...,1,0,0,1,Hewlett-1.0,0,0,0,1,0
16,2.0,NaN,3,Q,29.1250,17,"Rice, Master. Eugene",1,male,4,...,0,1,0,6,Rice-6.0,1,0,0,0,0
17,30.0,NaN,2,S,13.0000,18,"Williams, Mr. Charles Eugene",0,male,0,...,1,0,0,1,Williams-1.0,0,0,1,0,0
18,31.0,NaN,3,S,18.0000,19,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",0,female,1,...,0,1,0,2,Vander Planke-2.0,0,0,0,1,0
19,31.0,NaN,3,C,7.2250,20,"Masselmani, Mrs. Fatima",0,female,0,...,0,1,0,1,Masselmani-1.0,0,0,0,1,0
20,35.0,NaN,2,S,26.0000,21,"Fynney, Mr. Joseph J",0,male,0,...,1,0,0,1,Fynney-1.0,0,0,1,0,0
21,34.0,D56,2,S,13.0000,22,"Beesley, Mr. Lawrence",0,male,0,...,1,0,1,1,Beesley-1.0,0,0,1,0,0
22,15.0,NaN,3,Q,8.0292,23,"McGowan, Miss. Anna ""Annie""",0,female,0,...,0,1,0,1,McGowan-1.0,0,1,0,0,0
23,28.0,A6,1,S,35.5000,24,"Sloper, Mr. William Thompson",0,male,0,...,0,0,1,1,Sloper-1.0,0,0,1,0,0
24,8.0,NaN,3,S,21.0750,25,"Palsson, Miss. Torborg Danira",1,female,3,...,0,1,0,5,Palsson-5.0,0,1,0,0,0
25,38.0,NaN,3,S,31.3875,26,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",5,female,1,...,0,1,0,7,Asplund-7.0,0,0,0,1,0
26,26.0,NaN,3,C,7.2250,27,"Emir, Mr. Farred Chehab",0,male,0,...,0,1,0,1,Emir-1.0,0,0,1,0,0
27,19.0,C23 C25 C27,1,S,263.0000,28,"Fortune, Mr. Charles Alexander",2,male,3,...,0,0,1,6,Fortune-6.0,0,0,1,0,0
28,18.0,NaN,3,Q,7.8792,29,"O'Dwyer, Miss. Ellen ""Nellie""",0,female,0,...,0,1,0,1,O'Dwyer-1.0,0,1,0,0,0
29,26.0,NaN,3,S,7.8958,30,"Todoroff, Mr. Lalio",0,male,0,...,0,1,0,1,Todoroff-1.0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1279,21.0,NaN,3,Q,7.7500,1280,"Canavan, Mr. Patrick",0,male,0,...,0,1,0,1,Canavan-1.0,0,0,1,0,0
1280,6.0,NaN,3,S,21.0750,1281,"Palsson, Master. Paul Folke",1,male,3,...,0,1,0,5,Palsson-5.0,1,0,0,0,0
1281,23.0,B24,1,S,93.5000,1282,"Payne, Mr. Vivian Ponsonby",0,male,0,...,0,0,1,1,Payne-1.0,0,0,1,0,0
1282,51.0,D28,1,S,39.4000,1283,"Lines, Mrs. Ernest H (Elizabeth Lindsey James)",1,female,0,...,0,0,1,2,Lines-2.0,0,0,0,1,0
1283,13.0,NaN,3,S,20.2500,1284,"Abbott, Master. Eugene Joseph",2,male,0,...,0,1,0,3,Abbott-3.0,1,0,0,0,0
1284,47.0,NaN,2,S,10.5000,1285,"Gilbert, Mr. William",0,male,0,...,1,0,0,1,Gilbert-1.0,0,0,1,0,0
1285,29.0,NaN,3,S,22.0250,1286,"Kink-Heilmann, Mr. Anton",1,male,3,...,0,1,0,5,Kink-Heilmann-5.0,0,0,1,0,0
1286,18.0,C31,1,S,60.0000,1287,"Smith, Mrs. Lucien Philip (Mary Eloise Hughes)",0,female,1,...,0,0,1,2,Smith-2.0,0,0,0,1,0
1287,24.0,NaN,3,Q,7.2500,1288,"Colbert, Mr. Patrick",0,male,0,...,0,1,0,1,Colbert-1.0,0,0,1,0,0
1288,48.0,B41,1,C,79.2000,1289,"Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...",1,female,1,...,0,0,1,3,Frolicher-Stehli-3.0,0,0,0,1,0
1289,22.0,NaN,3,S,7.7750,1290,"Larsson-Rondberg, Mr. Edvard A",0,male,0,...,0,1,0,1,Larsson-Rondberg-1.0,0,0,1,0,0
1290,31.0,NaN,3,Q,7.7333,1291,"Conlon, Mr. Thomas Henry",0,male,0,...,0,1,0,1,Conlon-1.0,0,0,1,0,0
1291,30.0,C7,1,S,164.8667,1292,"Bonnell, Miss. Caroline",0,female,0,...,0,0,1,1,Bonnell-1.0,0,1,0,0,0
1292,38.0,NaN,2,S,21.0000,1293,"Gale, Mr. Harry",0,male,1,...,1,0,0,2,Gale-2.0,0,0,1,0,0
1293,22.0,NaN,1,C,59.4000,1294,"Gibson, Miss. Dorothy Winifred",1,female,0,...,0,0,0,2,Gibson-2.0,0,1,0,0,0
1294,17.0,NaN,1,S,47.1000,1295,"Carrau, Mr. Jose Pedro",0,male,0,...,0,0,0,1,Carrau-1.0,0,0,1,0,0
1295,43.0,D40,1,C,27.7208,1296,"Frauenthal, Mr. Isaac Gerald",0,male,1,...,0,0,1,2,Frauenthal-2.0,0,0,1,0,0
1296,20.0,D38,2,C,13.8625,1297,"Nourney, Mr. Alfred (Baron von Drachstedt"")""",0,male,0,...,1,0,1,1,Nourney-1.0,0,0,1,0,0
1297,23.0,NaN,2,S,10.5000,1298,"Ware, Mr. William Jeffery",0,male,1,...,1,0,0,2,Ware-2.0,0,0,1,0,0
1298,50.0,C80,1,C,211.5000,1299,"Widener, Mr. George Dunton",1,male,1,...,0,0,1,3,Widener-3.0,0,0,1,0,0
1299,18.0,NaN,3,Q,7.7208,1300,"Riordan, Miss. Johanna Hannah""""",0,female,0,...,0,1,0,1,Riordan-1.0,0,1,0,0,0
1300,3.0,NaN,3,S,13.7750,1301,"Peacock, Miss. Treasteall",1,female,1,...,0,1,0,3,Peacock-3.0,0,1,0,0,0
1301,18.0,NaN,3,Q,7.7500,1302,"Naughton, Miss. Hannah",0,female,0,...,0,1,0,1,Naughton-1.0,0,1,0,0,0
1302,37.0,C78,1,Q,90.0000,1303,"Minahan, Mrs. William Edward (Lillian E Thorpe)",0,female,1,...,0,0,1,2,Minahan-2.0,0,0,0,1,0
1303,28.0,NaN,3,S,7.7750,1304,"Henriksson, Miss. Jenny Lovisa",0,female,0,...,0,1,0,1,Henriksson-1.0,0,1,0,0,0
1304,26.0,NaN,3,S,8.0500,1305,"Spector, Mr. Woolf",0,male,0,...,0,1,0,1,Spector-1.0,0,0,1,0,0
1305,39.0,C105,1,C,108.9000,1306,"Oliva y Ocana, Dona. Fermina",0,female,0,...,0,0,1,1,Oliva y Ocana-1.0,0,0,0,1,0
1306,38.5,NaN,3,S,7.2500,1307,"Saether, Mr. Simon Sivertsen",0,male,0,...,0,1,0,1,Saether-1.0,0,0,1,0,0
1307,26.0,NaN,3,S,8.0500,1308,"Ware, Mr. Frederick",0,male,0,...,0,1,0,1,Ware-1.0,0,0,1,0,0
1308,6.0,NaN,3,C,22.3583,1309,"Peter, Master. Michael J",1,male,1,...,0,1,0,3,Peter-3.0,1,0,0,0,0

In [21]:
train = dataset.query('type == "train"')         
test = dataset.query('type == "test"')

In [22]:
X = train[['class', 'female', 'age', 'fare']].values
y = train['survived'].values
cv = KFold(n = X.shape[0], n_folds = 3)

In [23]:
X_test = test[['class', 'female', 'age', 'fare']].values
test_ids = test['id'].astype(int)
test_ids = pd.DataFrame(test_ids.reset_index()['id'])

**Logistic Regression**

In [17]:
log_reg = LogisticRegression()
log_reg.fit(X, y)
y_test_predicted = log_reg.predict(X_test)
predictions = pd.DataFrame(y_test_predicted)
submission = pd.concat([test_ids, predictions], axis=1)
submission.columns = ['PassengerId', 'Survived']
submission['Survived'] = submission['Survived'].astype(int)
submission.to_csv('log_reg.csv', sep = ',', index = False)

**Decision Tree**

In [8]:
dt = tree.DecisionTreeClassifier()
dt.fit(X, y)
y_test_predicted = dt.predict(X_test)
predictions = pd.DataFrame(y_test_predicted)
submission = pd.concat([test_ids, predictions], axis=1)
submission.columns = ['PassengerId', 'Survived']
submission['Survived'] = submission['Survived'].astype(int)
submission.to_csv('submission2.csv', sep = ',', index = False)

**K Nearest Neighbours**

In [9]:
kn = KNeighborsClassifier(n_neighbors=4)
kn.fit(X, y)
y_test_predicted = kn.predict(X_test)
predictions = pd.DataFrame(y_test_predicted)
submission = pd.concat([test_ids, predictions], axis=1)
submission.columns = ['PassengerId', 'Survived']
submission['Survived'] = submission['Survived'].astype(int)
submission.to_csv('knn.csv', sep = ',', index = False)

**Naive Bayes**

In [10]:
gnb = GaussianNB()
gnb.fit(X, y)
y_test_predicted = kn.predict(X_test)
predictions = pd.DataFrame(y_test_predicted)
submission = pd.concat([test_ids, predictions], axis=1)
submission.columns = ['PassengerId', 'Survived']
submission['Survived'] = submission['Survived'].astype(int)
submission.to_csv('nb.csv', sep = ',', index = False)

**Support Vector Machine**

In [25]:
X = StandardScaler().fit_transform(X)
X_test = StandardScaler().fit_transform(X_test)
sup = svm.SVC(kernel = 'rbf',gamma=0.8, C=5)
sup.fit(X, y)
y_test_predicted = sup.predict(X_test)
predictions = pd.DataFrame(y_test_predicted)
submission = pd.concat([test_ids, predictions], axis=1)
submission.columns = ['PassengerId', 'Survived']
submission['Survived'] = submission['Survived'].astype(int)
submission.to_csv('svm.csv', sep = ',', index = False)